
.icon-book-open:before { content: '\e800'; } /* '' */
.icon-error-alt:before { content: '\e801'; } /* '' */
.icon-trash-empty:before { content: '\e802'; } /* '' */
.icon-ok:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
