:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --s: 140px; /* control the size*/
  --c1: #160d12;
  --c2: #131d17;
  
  --_g: #0000 52%,var(--c1) 54% 57%,#0000 59%; 
  background: 
   radial-gradient(farthest-side at -33.33% 50%,var(--_g)) 0 calc(var(--s)/2),
   radial-gradient(farthest-side at 50% 133.33%,var(--_g)) calc(var(--s)/2) 0,
   radial-gradient(farthest-side at 133.33% 50%,var(--_g)),
   radial-gradient(farthest-side at 50% -33.33%,var(--_g)),
   var(--c2);
  background-size: calc(var(--s)/4.667) var(--s),var(--s) calc(var(--s)/4.667);

  --gradientBG: #141414b1;
  
  --bookFoundWidth: 20rem;
  --bookFoundHeight: 16rem;
  overflow: hidden;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #131d11;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

#searchBar
{
  width:fit-content;
  margin:auto;
  display:flex;
}
#searchBar input[type=text]
{
  height: 2.5rem;
  font-size: 2rem;
  color:#b9b9b9;
  text-align: center;
  width:calc(10rem + 20vw);
  padding:0;
  border: 2px solid white;
}
.bookFound 
{
  margin:auto;
  display:flex;
  width:50vw;
  height: 13rem;
  padding: 1rem;
  background-color: #3e474098;
  margin-bottom: 1rem;
  border-radius: 0.8rem;
}
.bookContent
{
  margin-inline:auto;
  padding: 1.5rem 3rem;
  width:70%;
}
.bookContent .title
{
  font-weight: bold;
}
.bookContent .authors
{
  display:flex;
  width:100%;
  margin:auto;
}
.bookContent .author
{
    margin:auto;
  font-size: 1.2rem;
}
.bookContent .bookData
{
    margin-top: 1.5rem;
}
.cover
{
  aspect-ratio: 3 / 4;
  margin-right:1vw;
  border-radius: 0.5rem;
}
.addToLibrary
{
  margin-block:auto;
}
.bookContainer
{
  margin:auto;
  width:60%;
  padding-inline: 5rem;
  padding-block: 2rem;
  height: 50vh;
  overflow: scroll;
  overflow-x: hidden;
  mask-image: linear-gradient(0deg, transparent, black 10%, black 90%, transparent);
}
.divTitle
{
  font-size: calc(3vh + 0.6vw);
  font-weight: bold;
  padding-top: 1.5vh;
  padding-inline:3vw;
  margin-bottom: 0.8vh;
}
.divTitleMinor
{
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.searchBarBG
{
  padding-top:2rem;
  padding-bottom:4rem;
  position:relative;
  top:0;
  left:0;
  width:100vw;
  background: #141414b1;

}

.contentBox
{
  border-radius: 0 0 2rem 2rem;
  margin:auto;
  min-height:80vh;
  margin-top:0;
  width:80%;
  padding: 0rem 2rem 2rem 2rem;
  background:var(--gradientBG);
      display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form input
{
  display:block;
}

.login
{
  margin:auto;
}
.login input
{
  margin:auto;
  margin-bottom: 1rem;
}
.login input:last-child
{
  margin:auto;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
.login p
{
  margin-top:0.5rem;
  margin-bottom: 0.5rem;
}

.bookContainerUser
{

  margin:auto;
  width:80%;
  padding-inline: 5rem;
  padding-block: 1rem;
  height: 45vh;
  overflow: scroll;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  mask-image: linear-gradient(0deg, transparent, black 10%, black 90%, transparent);
}
.bookContainerGrid
{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.containerTitle
{
  margin:auto;
  margin-block: 1rem;
  font-weight: bold;
  font-size: 1.4rem;
  grid-column-start: 1;
  grid-column-end: 4;
}
.hori-buttons
{
  display:flex;
  width:70%;
  margin:auto;
}

.hori-buttons > *
{
  margin:auto;
  display:block;
}
@media only screen and (orientation: portrait) {
  :root
  {
      --bookFoundWidth: 60vw;
      --bookFoundHeight: 40vw;
  }

  .bookContainer .bookFound .cover
  {
    aspect-ratio: 3 / 4;
    width:30vw;
    border-radius: 0.5rem;
    grid-area: 1 / 1 / 2 / 2;
  }

    .bookFound 
  {
    margin:auto;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr); 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    width:50vw;
    height: fit-content;
    padding: 1rem;
    background-color: #3e474098;
    margin-bottom: 1rem;
    border-radius: 0.8rem;
  }
    .bookFound .bookContent
  {
    margin:auto;
     grid-area: 2 / 1 / 4 / 3; 
     width:100%;
     padding:0;
  }
  .bookContent .authors
  {
    display:flex;
    width:100%;
    margin:auto;
  }
  .bookContent .author
  {
      margin:auto;
    font-size: 4vw;
  }
  .bookContent .bookData
  {
      margin-top: 1.5rem;
  }
  .bookFound .addToLibrary
  {
     grid-area: 1 / 2 / 2 / 3;
  }

  .bookContainerGrid
  {
    display:grid;
    grid-template-columns: 1fr;
  }
  .containerTitle
  {
    margin:auto;
    margin-block: 1vw;
    font-weight: bold;
    font-size: 1.4rem;
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .bookContainerUser
  {

    margin:auto;
    height:100%;
    padding-inline: 0rem;
    padding-block: 0rem;
    height: 40vh;
    overflow: scroll;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vw;
    mask-image: linear-gradient(0deg, transparent, black 10%, black 90%, transparent);
  }
  .contentBox
  {
    border-radius: 0 0 2rem 2rem;
    margin:auto;
    height:100vh;
    padding: 0;
    margin-top:0;
    width:100%;
    background:var(--gradientBG);
  }
  .hori-buttons
  {
    display:flex;
    width:100%;
    margin:auto;
  }
  .hori-buttons > *
  {
    display:block;
    margin:auto;
  }
}


.bookContainerUser .bookFound
{
    margin-block: 1vw;
    display:flex;
    width: var(--bookFoundWidth);
    height: var(--bookFoundHeight);
    padding: 1rem;
    background-color: #3e474098;
    border-radius: 0.8rem;
      overflow: hidden;
  position:relative;
}

.remove
{
  height: 3rem;
  width: 4rem;
  margin:auto;
}
.remove:hover
{
  border-color: rgb(114, 4, 4);
}
.read
{
  width: 4rem;
  height: 3rem;
  margin:auto;
}
.onHold
{
  width: 4rem;
  height: 3rem;
  margin:auto;
}
.onHold:hover
{
  border-color: rgb(190, 148, 33);
}
.vert-buttons
{
  margin-inline:auto;
  display:grid;
  grid-template-columns: 1fr;
}
table p
{
  margin-block:0;
  margin-inline: 1rem;
}
.progress 
{
  margin:auto;
  width: 70%;
  height: 0.4rem;
  background-color: #2c2c2c2d;
  padding:5px;
  border-radius: 1rem;
  margin-block: 0.7rem;
}
.progressIn
{
  margin-top:auto;
  margin-bottom: auto;
  height: 90%;
  background-color: rgba(0, 128, 0, 0.534);
  border-radius: 1rem;
}

.contentBox select
{
  margin-bottom: 1rem;
}

.bookInfo
{
  transition:all 0.4s ease-in-out;
  position:absolute;
  margin-top: -1rem;
  margin-left: -1rem;
  width: var(--bookFoundWidth);
  height: var(--bookFoundHeight);
  padding: 1rem;
  background-color: #253a22ea;
}
.bookInfo-hidden
{
  transition:all 0.4s ease-in-out;
  position:absolute;
  margin-top: -1rem;
  margin-left: calc(var(--bookFoundWidth) + 1rem);
  width: var(--bookFoundWidth);
  height: var(--bookFoundHeight);
    padding: 1rem;
  background-color: #253a22ea;
}
.categories
{
  display:block;
  width:80%;
  margin:auto;
  margin-top:0.4rem;
  height:calc(var(--bookFoundHeight)/2);
  overflow:scroll;
}
.categories > *
{
  width:fit-content;
  display:block;
  margin:auto;
}
.statusSelect
{

  margin:0.3rem;
  margin-top:0.6rem;
}
.statusSelect select
{

  margin-top:0.4rem;
}

.heading
{
  padding-top: 1vw;
  position: relative;
  margin-bottom:0.9vw;
  overflow: hidden;
}
.heading > *
{
  margin-block: 0.5rem;
}

.categoryAdd-hidden, .categoryAdd
{
  transition: 0.4s all ease-in-out;
  position:absolute;
  top:-25rem;
  background-color: #131313d7;
  padding-top:1rem;
  width:100%;
  height:100%;
  border-radius: 1rem;
}
.categoryAdd
{
  top:-1rem;
  
}
.categoryAdd > *, .categoryAdd-hidden > *
{
  margin: auto;
  margin-top: 1.2rem;
  display:block;
}
.categoryAdd .normalButt, .categoryAdd-hidden .normalButt
{
  margin-top: 1.4rem;
}
.normalButt
{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#searchBarSmol
{
  width:fit-content;
  margin:auto;
  display:flex;
  margin-top: 1vw;
  margin-bottom: 1rem
}
#searchBarSmol input[type=text]
{
  height: 2rem;
  font-size: 1rem;
  color:#b9b9b9;
  text-align: center;
  width:calc(11rem + 15vw);
  padding:0;
  border: 2px solid white;
}
#searchBarSmol button
{
  width:4rem;
  height:2.3rem;
  padding:0;
}
#searchBarSmol .icon-search::before
{
  transform:scale(1.0)
}

.modalMain, .modalMain-hidden
{
  position:absolute;
  top: 0vh;
  left:0;
  backdrop-filter: blur(10px);
  width:100vw;
  height:100vh;
  transition: 0.5s ease-in-out all;
  overflow: hidden;
}
.modalMain-hidden
{
  top:100vh;
}
.contentBoxFuckCSS
{
    border-radius: 0 0 2rem 2rem;
  margin:auto;
  height:80vh;
  margin-top:0;
  width:80%;
  padding: 0rem 2rem 2rem 2rem;
  background:var(--gradientBG);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contentBoxFuckCSS > *
{
  margin:auto;
  display:block;
}

#headerBox
{
    display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#headerBox > *
{
  margin-block:auto;
  display:block;
}
.navigation
{
  height:auto;
  display:block;
  margin:auto;
  width:60%;
}
.navigation > *
{
  margin:auto;
}
.navBottom
{
  height:20vh;
}
.bookInfoContainer
{
  height:100%;
}
.bookInfoContainer > .hori-buttons
{
  position:absolute;
  bottom:1vw;
  left:0;
  width:100%;
}
.mainBtn
{
  transform: scale(1.3);
}
.mainBtn:hover
{
  border-color:green;
}
